{% extends 'base_bootstrap.html' %}
{% block content %}
<div class="container">
    <h1 class="text-center">Pengembalian Loker</h1>
    <h2 class="text-center">Scan pada mesin untuk membuka loker</h2>
    <div class="row justify-content-center">
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <p class="card-title"><strong>Nama Loker:</strong> {{ transaksi.loker.grup_loker.nama_loker }}</p>
                    <p class="card-text"><strong>Alamat Loker:</strong> {{ transaksi.loker.grup_loker.alamat_loker }}</p>
                    <p class="card-text"><strong>Harga per 15 menit:</strong> Rp{{ transaksi.loker.grup_loker.harga_loker }}</p>
                    <p class="card-text"><strong>Nomor Loker:</strong> {{ transaksi.loker.nomor_loker }}</p>
                    {% if message %}
                        <div class="alert alert-{{message_flag}}">
                            {{ message }}
                        </div>
                        <a href="{% url 'app_pengguna:dashboard_pengguna' %}" class="btn btn-info">Kembali ke Dashboard</a>
                    {% endif %}
                    {% if img_name %}
                        <div class="qr-img">
                            <img src="/media/{{ img_name }}" alt="qr code" style="width: 100%;">
                        </div>
                        <a href="{% url 'app_pengguna:close_loker' transaksi.id %}" class="btn btn-info">Perbarui tampilan setelah Scan</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>    
    </form>
</div>
{% endblock content %}
