{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="grid justify-items-stretch w-screen min-h-screen">
 <div class="row-auto justify-self-center relative min-w-[429px] max-w-[429px] min-h-screen overflow-hidden drop-shadow-md bg-[#F8F8F8]">
        <div class="p-6">
            <p class="text-center text-xl">Details</p>
            <span class="flex gap-4 items-center mt-4">
                <span class="relative flex h-3 w-3">
                    <span class="animate-ping absolute inline-flex h-full w-full rounded-full bg-[#477B72] "></span>
                    <span class="relative inline-flex rounded-full h-3 w-3 bg-[#477B72]"></span>
                </span>
                <div class="text-xs">
                    <p class="text-[#929292] font-medium">Nama Loker</p>
                    <p>{{ grup_loker.nama_loker }}</p>
                </div>
            </span>
            <span class="flex gap-4 items-center mt-4">
                <span class="relative flex h-3 w-3">
                    <span class="animate-ping absolute inline-flex h-full w-full rounded-full bg-[#477B72]"></span>
                    <span class="relative inline-flex rounded-full h-3 w-3 bg-[#477B72]"></span>
                </span>
                <div class="text-xs">
                    <p class="text-[#929292] font-medium">Cost</p>
                    <p>Rp{{ grup_loker.harga_loker }},00</p>
                </div>
            </span>
            <span class="flex gap-4 items-center mt-4">
                <span class="relative flex h-3 w-3">
                    <span class="animate-ping absolute inline-flex h-full w-full rounded-full bg-[#477B72]"></span>
                    <span class="relative inline-flex rounded-full h-3 w-3 bg-[#477B72]"></span>
                </span>
                <div class="text-xs">
                    <p class="text-[#929292] font-medium">Location</p>
                    <p>{{ grup_loker.alamat_loker }}</p>
                </div>
            </span>
        </div>
        <div class="bg-white h-full rounded-t-3xl p-4 flex-col gap-3">
            <p>Chose Your Locker</p>
            <div class="mt-3 flex flex-col gap-2">
                {% for loker in loker_list %}
                    <div class="grid grid-cols-5 bg-white drop-shadow-m rounded-lg overflow-hidden drop-shadow-md">
                        <p class="col-span-1 p-2 bg-[#477B72] text-white text-center font-bold text-xl">{{ loker.nomor_loker }}</p>
                        {% if from_pinjam_loker %}
                            <a class=" col-span-4 flex items-center p-2 justify-end gap-2 hover:no-underline text-[#477B72] hover:text-[#888888]" href="#" onclick="konfirmasiPilih('{% url 'app_pengguna:open_loker' loker.id %}')" >
                                <p>Select</p>  
                                <img src="{% static '/images/button-right.png' %}"  alt="" class=" h-5 w-auto">
                            </a>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
        </div>
 </div>
</div>

<script>
    function konfirmasiPilih(url) {
        var konfirmasi = confirm("Apakah Anda yakin ingin memilih loker?");
        if (konfirmasi) {
            window.location.href = url;
        } else {
            // handle
        }
    }
</script>
{% endblock content %}

