{% extends 'base.html' %}
{% block content %}
<div class="container">
    <p></p>
    <h2 class="text-center">Scan pada mesin untuk membuka loker</h2>
    <div class="row justify-content-center">
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <p class="card-title"><strong>Nama Loker:</strong> {{ loker.grup_loker.nama_loker }}</p>
                    <p class="card-text"><strong>Alamat Loker:</strong> {{ loker.grup_loker.alamat_loker }}</p>
                    <p class="card-text"><strong>Harga per 15 menit:</strong> Rp{{ loker.grup_loker.harga_loker }}</p>
                    <p class="card-text"><strong>Nomor Loker:</strong> {{ loker.nomor_loker }}</p>
                    {% if message %}
                        <div class="alert alert-{{message_flag}}">
                            {{ message }}
                        </div>
                        <div class="alert alert-{{message_flag}}" id="messageAddNotif">
                            Anda akan mendapatkan notifikasi terkini setiap 30 menit saat peminjaman loker
                        </div>
                        <button id="okButton" class="btn btn-success">OK</button>
                        <a id="dashboardButton" href="{% url 'app_pengguna:dashboard_pengguna' %}" class="btn btn-info" style="display:none;">Kembali ke Dashboard</a>
                    {% endif %}
                    {% if img_name %}
                        <div class="qr-img">
                            <img src="/media/{{ img_name }}" alt="qr code" style="width: 100%;">
                        </div>
                        <a href="{% url 'app_pengguna:open_loker' loker.id %}" class="btn btn-info">Perbarui tampilan setelah Scan</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>    
    </form>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        var okButton = document.getElementById('okButton');
        var dashboardButton = document.getElementById('dashboardButton');
        var messageAddNotif = document.getElementById('messageAddNotif');

        okButton.addEventListener('click', function () {
            dashboardButton.style.display = 'inline-block';
            okButton.style.display = 'none';
            messageAddNotif.style.display = 'none';
        });
    });
</script>
{% endblock content %}
